$background: #fafafa;
$background-dark: darken($background, 10%);
$background-liteDark: darken($background, 2%);

$gap: 30px;

$borderColor: #ccc;
$borderColor-dark: darken($borderColor, 50%);

$primaryFontSize: .9rem;
